@font-face {
    font-family: font;
    src: url("font.ttf");
}

header {
    color: #197fe6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: font;
    font-size: 40px;
}

body {
    background-color: black;
    overflow-y: hidden;
    margin: 0; /* Remove default body margin */
}

.gridBox {
    display: grid;
    padding: 50px;
    margin-left: 350px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 15px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: font;
    color: white;
    cursor: pointer;
    border: 2px solid whitesmoke;
    background-color: gray;
    height: 100%;
}

.flipped {
    animation: flipAnimation 1s forwards;
    transform-style: preserve-3d;
}

@keyframes flipAnimation {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(-1);
    }
}

.firstFlip {
    animation: firstFlipAnimation 0.5s forwards;
    transform-style: preserve-3d;
}

@keyframes firstFlipAnimation {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(180deg);
    }
}
